<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>17testObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>823857D41F0C91040099BADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>823857ED1F0C91040099BADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>823857F81F0C91040099BADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
